<!-- Page Content -->
<!-- This is how we blur the background. It is necessary to do an in file style
    as you cannot edit the canvas without doing it globally, and we did not with to blur
    in all other files.
 -->
<style>
canvas{
  -webkit-filter: blur(12.5px);
  -moz-filter: blur(12.5px);
  -o-filter: blur(12.5px);
  -ms-filter:blur(12.5px);
  filter:blur(12.5px);
}
</style>

<div class="container">
  <form name="select" id="select" action="/new_main" method="post">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Choose your pet!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="carousel0" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <div class="card">
                      <img src="http://via.placeholder.com/350x150" class="card-img-top">
                      <div class="card-body">
                        Shape 1
                        <div class="form-check">
                           <input class="with-gap" name="shape" value="0" type="radio" id="radio106" checked="checked">
                           <label class="form-check-label" for="radio106">Option 1</label>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <div class="card">
                      <img src="http://via.placeholder.com/350x150" class="card-img-top">
                      <div class="card-body">
                        shape 2
                        <div class="form-check">
                           <input class="with-gap" name="shape" value="1" type="radio" id="radio106" checked="checked">
                           <label class="form-check-label" for="radio106">Shape 2</label>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <div class="card">
                      <img src="http://via.placeholder.com/350x150" class="card-img-top">
                      <div class="card-body">
                        Shape 3
                        <div class="form-check">
                           <input class="with-gap" name="shape" value="2" type="radio" id="radio106" checked="checked">
                           <label class="form-check-label" for="radio106">Shape 3</label>
                       </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel0" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel0" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Choose your habitat!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="carousel1" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                      <div class="card">
                        <img src="http://via.placeholder.com/350x150" class="card-img-top">
                        <div class="card-body">
                          Habitat 1
                          <input  name="habitat" value="0" type="radio" form="select" checked>I want this!</input>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <div class="card">
                      <img src="http://via.placeholder.com/350x150" class="card-img-top">
                      <div class="card-body">
                        Habitat 2
                        <input name="habitat" value="1" type="radio" form="select" >I want this!</input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-sm-2">
                  </div>
                  <div class="col-sm-8">
                    <div class="card">
                      <img src="http://via.placeholder.com/350x150" class="card-img-top">
                      <div class="card-body">
                        Habitat 3
                        <input name="habitat" value="2" type="radio" form="select">I want this!</input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10 align-self-center">
        <h1>Choose Your Pet's Name</h1>
                <!-- Enter Email -->
        <label for="petName">Enter Your Pet's Name:</label>
        <input type="" class="form-control" name="petName" id="petName" aria-describedby="pn" placeholder="e.g. Waffles">
        <h1>Choose Your Pet's Color</h1>
        Pet Color
        <select name="color">
          <option value="0">Red</option>
          <option value="1">Orange</option>
          <option value="2">Green</option>
          <option value="3">Blue</option>
          <option value="4">Flamingo</option>
          <option value="5">Oh, oh, ohohoho</option>
        </select>
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pet Color
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" value="0" name="color">Red</a>
            <a class="dropdown-item" value="1" name="color">Orange</a>
            <a class="dropdown-item" value="2" name="color" >Green</a>
            <a class="dropdown-item" value="3" name="color">Blue</a>
            <a class="dropdown-item" value="4" name="color">Flamingo</a>
            <a class="dropdown-item" value="5" name="color" >Oh, oh, ohohoho</a>
          </div>
        </div> -->
        <button type="submit" form="select" class="btn btn-secondary">Submit</button>
      </div>
    </div>
  </form>
</div>

<script src="js/three.min.js"></script>
<script src="js/app.js"></script>
<script src="js/WebVR.js"></script>

<script>

  var loader = new THREE.FileLoader();
  loader.load( 'spinning_background.json', function ( text ) {

    var player = new APP.Player();
    player.load( JSON.parse( text ) );
    player.setSize( window.innerWidth, window.innerHeight );
    player.play();

    document.body.appendChild( player.dom );

    window.addEventListener( 'resize', function () {
      player.setSize( window.innerWidth, window.innerHeight );
    } );

  } );

</script>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
